body {
    padding-top: 50px;
    height: 100%;
}

.movie-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-container div {
    margin-bottom: 10px;
}

.list-container {
    min-height: 500px;
    padding: 8px;
}

.info-container {
    margin-left: -40px;
}

.youtube-videos-container {
    width: 90%;
}

.details-container {
    display: none;
}

.spinner {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
}

@media all and (max-width: 767px) {
    .list-container {
        text-align: center;
        min-height: auto !important;
    }
    .info-container {
        margin: 0;
    }
}
